<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomepageServlet</servlet-name>
        <servlet-class>controller.HomepageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductViewServlet</servlet-name>
        <servlet-class>controller.ProductViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSevlet</servlet-name>
        <servlet-class>controller.ListSevlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>controller.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FixProfileServlet</servlet-name>
        <servlet-class>controller.FixProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>controller.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WishesServlet</servlet-name>
        <servlet-class>controller.WishesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddWish</servlet-name>
        <servlet-class>controller.AddWish</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveWishServlet</servlet-name>
        <servlet-class>controller.RemoveWishServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCartServlet</servlet-name>
        <servlet-class>controller.AddCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCartServlet</servlet-name>
        <servlet-class>controller.RemoveCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>controller.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>controller.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>controller.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderProcessServlet</servlet-name>
        <servlet-class>controller.OrderProcessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUserSevlet</servlet-name>
        <servlet-class>controller.ManageUserSevlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomepageServlet</servlet-name>
        <url-pattern>/homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductViewServlet</servlet-name>
        <url-pattern>/productview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSevlet</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FixProfileServlet</servlet-name>
        <url-pattern>/fixprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WishesServlet</servlet-name>
        <url-pattern>/wishes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddWish</servlet-name>
        <url-pattern>/addwish</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveWishServlet</servlet-name>
        <url-pattern>/removewish</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCartServlet</servlet-name>
        <url-pattern>/addcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCartServlet</servlet-name>
        <url-pattern>/removecart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderProcessServlet</servlet-name>
        <url-pattern>/orderprocess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUserSevlet</servlet-name>
        <url-pattern>/manageuser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>homepage.jsp</welcome-file>
    </welcome-file-list>

</web-app>
